/*--------------------------------------------*/
/* reset */
/*--------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------------------------------*/
/* common */
/*--------------------------------------------*/
html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EFEFEF;
}

canvas {
  display: block;
  top: 0;
  left: 0;
}

#banner {
  /* bigbox */
  width: 300px;
  height: 250px;
  overflow: hidden;
  position: relative;
  background-color: #043411;
  -webkit-text-size-adjust: 100%;
  opacity: 1;
}

canvas, .text, .frame, .outline, img {
  position: absolute;
}

img {
  vertical-align: top;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.outline {
  z-index: 99;
  width: inherit;
  height: inherit;
  border: 1px solid black;
  pointer-events: none;
  position: absolute;
}

.frame {
  width: inherit;
  height: inherit;
  opacity: 0;
  top: 0;
  left: 0;
}

p {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

sup {
  font-size: 50%;
  vertical-align: top;
  position: relative;
  left: -3px;
}

.shadow {
  -webkit-filter: drop-shadow(5px 5px 9px black);
  filter: drop-shadow(5px 5px 9px black);
}

.retina {
  -webkit-transform: translate(0px, 0px) scale(0.5, 0.5);
  -ms-transform: translate(0px, 0px) scale(0.5, 0.5);
  transform: translate(0px, 0px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  image-rendering: -webkit-optimize-contrast;
}

#legalContent {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 15px;
  font-size: 10px;
  z-index: 90;
  opacity: 0;
  font-weight: normal;
  line-height: 14px;
  transition: opacity .3s;
  pointer-events: none;
}

#legalBtn {
  background-color: green;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
  width: 38px;
  height: 30px;
  background-color: red;
  display: none;
}

#legalBtn:hover ~ #legalContent {
  opacity: 1;
}

#clicktag {
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
}

.frame1 #player_bg {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #bg {
  -webkit-transform: translate(-728px, 0px) scale(0.5, 0.5);
  -ms-transform: translate(-728px, 0px) scale(0.5, 0.5);
  transform: translate(-728px, 0px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #t1 {
  -webkit-transform: translate(249px, 22px);
  -ms-transform: translate(249px, 22px);
  transform: translate(249px, 22px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #t1 #a1_when {
  -webkit-transform: translate(0px, 0px) scale(0.5, 0.5);
  -ms-transform: translate(0px, 0px) scale(0.5, 0.5);
  transform: translate(0px, 0px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #t1 #a2_your {
  -webkit-transform: translate(70px, 0px) scale(0.5, 0.5);
  -ms-transform: translate(70px, 0px) scale(0.5, 0.5);
  transform: translate(70px, 0px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #t1 #a3_college {
  -webkit-transform: translate(130px, 0px) scale(0.5, 0.5);
  -ms-transform: translate(130px, 0px) scale(0.5, 0.5);
  transform: translate(130px, 0px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #t1 #a4_knowledge {
  -webkit-transform: translate(-27px, 25px) scale(0.5, 0.5);
  -ms-transform: translate(-27px, 25px) scale(0.5, 0.5);
  transform: translate(-27px, 25px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #t1 #a5_is {
  -webkit-transform: translate(107px, 25px) scale(0.5, 0.5);
  -ms-transform: translate(107px, 25px) scale(0.5, 0.5);
  transform: translate(107px, 25px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #t1 #a6_textbook {
  -webkit-transform: translate(133px, 25px) scale(0.5, 0.5);
  -ms-transform: translate(133px, 25px) scale(0.5, 0.5);
  transform: translate(133px, 25px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #t2 {
  -webkit-transform: translate(192px, 23px);
  -ms-transform: translate(192px, 23px);
  transform: translate(192px, 23px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #t2 #b1_get {
  -webkit-transform: translate(0px, 0px) scale(0.5, 0.5);
  -ms-transform: translate(0px, 0px) scale(0.5, 0.5);
  transform: translate(0px, 0px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #t2 #b2_way {
  -webkit-transform: translate(41px, 0px) scale(0.5, 0.5);
  -ms-transform: translate(41px, 0px) scale(0.5, 0.5);
  transform: translate(41px, 0px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #t2 #b3_into {
  -webkit-transform: translate(95px, 0px) scale(0.5, 0.5);
  -ms-transform: translate(95px, 0px) scale(0.5, 0.5);
  transform: translate(95px, 0px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #t2 #b4_the {
  -webkit-transform: translate(147px, 0px) scale(0.5, 0.5);
  -ms-transform: translate(147px, 0px) scale(0.5, 0.5);
  transform: translate(147px, 0px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #t2 #b5_tour {
  -webkit-transform: translate(189px, 0px) scale(0.5, 0.5);
  -ms-transform: translate(189px, 0px) scale(0.5, 0.5);
  transform: translate(189px, 0px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #logo_proline {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translate(492px, -6px) scale(0.5, 0.5);
  -ms-transform: translate(492px, -6px) scale(0.5, 0.5);
  transform: translate(492px, -6px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

#legalContent {
  padding: 8px;
  line-height: 13px;
}

#legalBtn {
  -webkit-transform: translate(5px, 63px);
  -ms-transform: translate(5px, 63px);
  transform: translate(5px, 63px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

#banner {
  font-size: 20px;
  width: 728px;
  height: 90px;
}

/*# sourceMappingURL=main.css.map */
