<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		
		<div id="player_bg">
			<img class="retina" id="bg" src="./images/bg.jpg" inline>
			<img class="retina" id="player" src="./images/player.jpg" inline>
		</div>

		<!-- <img class="retina" src="./frames/f2.jpg" alt="" /> -->
		
		<div id="t1">
			<img class="retina" id="a1_when" src="./images/a1_when.png" alt="" inline>
			<img class="retina" id="a2_your" src="./images/a2_your.png" alt="" inline>
			<img class="retina" id="a3_college" src="./images/a3_college.png" alt="" inline>
			<img class="retina" id="a4_knowledge" src="./images/a4_knowledge.png" alt="" inline>
			<img class="retina" id="a5_is" src="./images/a5_is.png" alt="" inline>
		</div>

		<div id="t2">
			<img class="retina" id="b1_get" src="./images/b1_get.png" alt="" inline>
			<img class="retina" id="b2_way" src="./images/b2_way.png" alt="" inline>
			<img class="retina" id="b3_into" src="./images/b3_into.png" alt="" inline>
			<img class="retina" id="b4_the" src="./images/b4_the.png" alt="" inline>
			<img class="retina" id="b5_tour" src="./images/b5_tour.png" alt="" inline>
		</div>

		<img class="retina" id="logo_proline" src="./images/logo_proline.png" alt="" inline>
		<img class="retina" id="odds" src="./images/odds.png" alt="" inline>
		<img class="retina" id="logos" src="./images/logos.png" alt="" inline>



	</div>
	<a id="clicktag" href="#" onclick="javascript:window.open(window.clickTag);"></a>
	<div id="legalBtn"></div>
	<% include ../_common/templates/legal %>
	
	
	
</div>