

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
	#player_bg{
		@include pos(0, 0);
	}
	#bg {
		@include pos-scale(297, 0, .5);
	}

	#t1{
		@include pos(74, 304);
		#a1_when{
			@include pos-scale(0, 0, .5);
		}
		#a2_your{
			@include pos-scale(60, 0, .5);
		}
		#a3_college{
			@include pos-scale(3, 34, .5);
		}
		#a4_knowledge{
			@include pos-scale(101, 34, .5);
		}
		#a5_is{
			@include pos-scale(-6, 68, .5);
		}
		
	}

	#t2{
		@include pos(32, 322);
		#b1_get{
			@include pos-scale(0, 0, .5);
		}
		#b2_way{
			@include pos-scale(94, 0, .5);
		}
		#b3_into{
			@include pos-scale(132, 0, .5);
		}
		#b4_the{
			@include pos-scale(-2, 34, .5);
		}
		#b5_tour{
			@include pos-scale(157, 34, .5);
		}
	}

	#logo_proline{
		transform-origin: 50% 50%;
		@include pos-scale(-7, 388, .5);
		// @include pos-scale(91, 94, .5);
		
	}

	
}

#legalBtn{	
	@include pos(4, 563);
	// opacity: 1;
}



#banner{
	font-size: 20px;
	width: 300px;
	height: 600px;
}

