

@import '../../../_common/styles/common.scss';



.frame1 {
	opacity: 1;
	#player_bg{
		@include pos(0, 0);
	}
	#bg {
		@include pos-scale(297, 0, .5);
	}

	#t1{
		@include pos(29, 312);
		#a1_when{
			@include pos-scale(56, 0, .5);
		}
		#a2_your{
			@include pos-scale(126, 0, .5);
		}
		#a3_college{
			@include pos-scale(6, 31, .5);
		}
		#a4_knowledge{
			@include pos-scale(103, 31, .5);
		}
		#a5_is{
			@include pos-scale(51, 62, .5);
		}
		#a6_textbook{
			@include pos-scale(76, 62, .5);
		}
	}

	#t2{
		@include pos(43, 334);
		#b1_get{
			@include pos-scale(0, 0, .5);
		}
		#b2_way{
			@include pos-scale(49, 0, .5);
		}
		#b3_into{
			@include pos-scale(113, 0, .5);
		}
		#b4_the{
			@include pos-scale(173, 0, .5);
		}
		#b5_tour{
			@include pos-scale(-2, 30, .5);
		}
	}

	#logo_proline{
		transform-origin: 50% 50%;
		@include pos-scale(-7, 388, .5);
		// @include pos-scale(91, 94, .5);
		
	}

	
}

#legalBtn{	
	@include pos(0, 210);
}



#banner{
	font-size: 20px;
	width: 300px;
	height: 600px;
}

